name: Build LaTeX PDF

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build PDF with latex-action
        uses: xu-cheng/latex-action@v3
        with:
          working_directory: paper
          root_file: paper.tex
          # cache: true  # можно включить кэш позже

      - name: Upload artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Evoluism-S-PDF
          path: paper/paper.pdf

  attach-to-release:
    if: github.event_name == 'release'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: Evoluism-S-PDF
          path: .
      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            paper.pdf
